<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
  <form method="POST">
  
    <div class="container1">
      <label for="Login"><b>Логин</b></label>
      <input type="text" placeholder="" name="Login" required>
  
      <label for="Password"><b>Пароль</b></label>
      <input type="password" placeholder="" name="Password" required>   
  
      <button type="submit">Зарегистрироваться</button>
    </div>
  </form>    
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/reg.css') }}">
</head>
<body>
</body>
</html>